.age {
  padding: $padding;
  padding-bottom: calc(var(--p) * 52);
}
.age__content-wrapper {
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
}
.age__headline {
  margin-bottom: calc(var(--p) * 32);
}
.age__caption {
  font-family: $inter;
  font-size: calc(var(--p) * 24);
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: calc(var(--p) * 52);
}

.age__number-block {
  display: grid;
  grid-template-rows: calc(var(--p) * 161);
  grid-gap: calc(var(--p) * 26);
  margin-bottom: calc(var(--p) * 26);
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, calc(var(--p) * 185));
  &--third {
    max-width: 502px;
    margin: 0 auto;
  }
}
.number-block__item {
  width: calc(var(--p) * 185);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms linear;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    border-color: $yellow;
    transform: scale(1.02);
  }
}
.number-block__img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.number-block__item {
  width: calc(var(--p) * 185);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms linear;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  padding: 2px 5px;
  &:hover {
    border-color: $yellow;
    transform: scale(1.02);
  }
}
