.age {
  padding: $padding;
  padding-bottom: 52px;
}
.age__content-wrapper {
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
}
.age__headline {
  margin-bottom: 32px;
}
.age__caption {
  font-family: $inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 52px;
}
.age__number-block {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 26px;
  margin-bottom: 26px;
  justify-content: space-around;
  grid-template-columns: repeat(auto-fit, 185px);
  &--third {
    max-width: 502px;
    margin: 0 auto;
  }
}
.number-block__item {
  width: 185px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms linear;
  border: 3px solid transparent;
  cursor: pointer;
  border-radius: 10px;
  &:hover {
    border-color: $yellow;
    transform: scale(1.05);
  }
}
.number-block__img {
}
