.footer {
  position: relative;
  z-index: 3;
  background-color: $footer-black;
  width: 100%;
  padding: $padding;
}
.footer__caption {
  font-family: $roboto;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  display: block;
  font-size: calc(var(--p) * 18);
}
.footer__link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: calc(var(--p) * 37);
}
.footer__content-wrapper {
  max-width: $content-width;
  margin: 0 auto;
}

.footer__icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px $yellow solid;
  width: calc(var(--p) * 56);
  height: calc(var(--p) * 56);
  & img {
    object-fit: contain;
    width: 70%;
    height: 70%;
  }
}
.footer__icon-wrapper {
  width: calc(var(--p) * 300);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo {
  width: calc(var(--p) * 190);
}
