.math {
  padding: $padding;
}
.main__headline {
  width: 650px;
}
.math__content-wrapper {
  max-width: $content-width;
  width: 100%;
  margin: 0 auto;
}
.math__headline {
}
.math__img {
}
.math__wrapper {
  max-width: 920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 580px;
}