.subjects {
  padding: $padding;
  padding-bottom: 0;
}
.subject__caption {
  font-family: $inter;
  font-weight: 400;
  font-size: calc(var(--p) * 20);
  text-align: center;
  max-width: calc(var(--p) * 225);
  margin: 0 auto;
  line-height: calc(var(--p) * 29);
}
.subject__img {
  margin: 0 auto calc(var(--p) * 20);
  display: block;
  width: calc(var(--p) * 240);
  height: calc(var(--p) * 234);
  object-fit: contain;
}
.subjects__content-wrapper {
  width: 100%;
  max-width: $content-width;
  margin: 0 auto;
}
.subjects__headline {
  width: calc(var(--p) * 970);
  margin-bottom: calc(var(--p) * 20);
}
.subjects__subject {
  width: 276px;
  height: calc(var(--p) * 290);
  margin-bottom: 20px;
  width: 33%;
}
.subjects__subject-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
}