@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
// font-family: 'Inter', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
// font-family: 'Roboto', sans-serif;

$content-width: 1110px;
$roboto: "Roboto", sans-serif;
$inter: "Inter", sans-serif;
$padding: 32px;
$footer-black: #373737;
$yellow: #febb00;
